<div class="my-div">
                    <h2>Angular 2 SASS</h2>
                    <p class="my-span">
                    sourcemaps : writes the news transformed code source into destination files. (From .scss to .css).<br>
                    autoprefixer : Parse CSS file and adds the desired vendor prefixes and remove unnecessary to this CSS file.<br>
                    cssnano: A modular minifier works with PostCSS plugins.<br>
                    Postcss : A tool for transforming CSS with JavaScript.<br>
                    </p>
                    <input class="input-text-success" type="text" value="angular 2 sass" placeholder="enter value">
</div>